---
import Button from "@components/ui/button.astro";
import Link from "@components/ui/link.astro";
import LanguageSelector from "@components/languageselector.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
import { Icon } from "astro-icon/components";

const safeUrl = Astro.url || new URL('/', Astro.site || 'http://localhost:4321');
const lang = getLangFromUrl(safeUrl);
const t = useTranslations(lang);

function localizePath(path: string) {
	if (!path || (path && path.startsWith('http')) || path === '#') return path;
	return getRelativeLocaleUrl(lang, path);
}

export const menuitems = [
 
];
---

<div class="top-0 py-1 lg:py-2 w-full bg-transparent lg:relative z-50 dark:bg-gray-900">
    <nav class="z-10 sticky top-0 left-0 right-0 max-w-4xl xl:max-w-5xl mx-auto px-5 py-2.5 lg:border-none lg:py-4">
        <div class="flex items-center justify-between">
           <a href={localizePath("/")} class="flex items-center text-2xl font-bold tracking-widest text-gray-900 rounded-lg dark:text-white focus:outline-none focus:shadow-outline" aria-label="Tiktokio" >
      			<Icon name="logo" width={30} class="dark:invert" />Tiktokio</a>
            <div class="hidden lg:block">
                <ul class="flex space-x-10 text-base font-bold text-black/60 dark:text-white">
                    <li class="hover:underline hover:underline-offset-4 hover:w-fit transition-all duration-100 ease-linear"><a href={localizePath("/musically-down")} aria-label={t("header.nav_3")}>{t("header.nav_3")}</a></li>
                    <li class="hover:underline hover:underline-offset-4 hover:w-fit transition-all duration-100 ease-linear"><a href={localizePath("/")} aria-label={t("header.nav_2")}>{t("header.nav_2")}</a></li>
                    <li class="hover:underline hover:underline-offset-4 hover:w-fit transition-all duration-100 ease-linear"><a href={localizePath("/savetik-downloader-download-tiktok-videos-without-watermark")} aria-label={t("header.nav_4")}>{t("header.nav_4")}</a></li>
                </ul>
            </div>
            <div class="hidden lg:flex lg:items-center gap-x-2">
                    <LanguageSelector showFlag={true} class="appearance-none py-1 px-2 rounded bg-slate-100 w-full"/>

            </div>
            <div class="flex items-center justify-center lg:hidden">
                <button class="focus:outline-none text-slate-200 dark:text-white"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" class="text-2xl text-slate-800 dark:text-white focus:outline-none active:scale-110 active:text-red-500" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg></button>
            </div>
        </div>
    </nav>
</div>
