---
import Link from "@components/ui/link.astro";
// Remove old astro-i18next imports
// import { localizePath } from "astro-i18next";
// import { t } from "i18next";

// Add new built-in i18n imports
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

// @ts-ignore
import { Icon } from "astro-icon/components";

// Get current language and create translation function
const safeUrl = Astro.url || new URL('/', Astro.site || 'http://localhost:4321');
const lang = getLangFromUrl(safeUrl);
const t = useTranslations(lang);

// Helper function to create localized paths (if needed)
function localizePath(path: string) {
	if (!path || (path && path.startsWith('http')) || path === '#') return path;
	return getRelativeLocaleUrl(lang, path);
}
const createMarkup = (text: string) => ({ __html: text });
const features = [
	
];
---

<div class="relative p-4">
      <div class="max-w-screen-xl mx-auto">
            <div class="feature-box backdrop-blur-sm">
				<div itemprop="itemListElement" itemscope itemtype="https://schema.org/HowToStep" class="feature-box backdrop-blur-sm">
					<div class="text-center py-8">
						<h2 class="text-2xl md:text-3xl font-bold text-gray-900"><span class="text-pink-600">{t('md.h2')}</span> {t('md.h2_1')}</h2>
                        <meta itemprop="url" content="/" />
                        <meta itemprop="timeRequired" content="PT1M"/>
						<div class="w-24 h-1 mx-auto bg-pink-600 rounded-full"></div>
						<p class="text-left mt-4 mx-auto text-lg text-gray-900 dark:text-white" set:html={t('md.text1')} />
					</div>





<section id="service" class="2xl:py-[80px] py-[70px] bg-white relative">
        <div data-aos="fade-up" data-aos-duration="2000" data-aos-delay="300" class="aos-init aos-animate">
            <img src="assets/img/shape/shape-6.png" alt="shape" class="absolute w-12 h-12 top-28 right-40">
        </div>
        <div class="banner text-center mb-[30px] px-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="300">
            <span class="text-[14px] text-[#777]">BEST IT SERVICE</span>
            <h2 class="text-center mt-[5px] 2xl:text-[35px] xl:text-[33px] lg:text-[30px] md:text-[26px] sm:text-[24px] text-[22px] font-bold">
                It Industries We’re<span class="text-[#7963e0]">
                    Offering</span></h2>
        </div>
        <div class="flex flex-wrap justify-between items-center mx-auto mx-auto 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] max-[320px]:px-[12px] px-6">
            <div class="grid lg:grid-cols-3 md:grid-cols-1 gap-[30px]">
                <div class="transition-all rounded flex justify-start items-start aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="300">
                    <div class="pr-6 border-r border-[#7963e0] max-[480px]:hidden">
                        <h6 class="2xl:text-[50px] lg:text-[40px] text-[35px] font-bold text-[#7963e0] 2xl:w-[60px] xl:w-[60px] lg:w-[50px] w-[40px] opacity-50">01</h6>
                    </div>
                    <div class="pl-6 border-l">
                        <div class="flex">
                            <img src="assets/img/service/icon-1.png" alt="service-1">
                        </div>
                        <h4 class="text-[20px] pt-6 font-bold">Graphics design</h4>
                        <p class="pt-2 text-[#777] text-[15px] leading-[28px]">There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
                <div class="transition-all rounded flex justify-start items-start aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="300">
                    <div class="pr-6 border-r border-[#7963e0] max-[480px]:hidden">
                        <h6 class="2xl:text-[50px] lg:text-[40px] text-[35px] font-bold text-[#7963e0] 2xl:w-[60px] xl:w-[60px] lg:w-[50px] w-[40px] opacity-50">02</h6>
                    </div>
                    <div class="pl-6 border-l">
                        <div class="flex">
                            <img src="assets/img/service/icon-2.png" alt="service-2">
                        </div>
                        <h4 class="text-[20px] pt-6 font-bold">Devlopment</h4>
                        <p class="pt-2 text-[#777] text-[15px] leading-[28px]">There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
                <div class="transition-all rounded flex justify-start items-start aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="300">
                    <div class="pr-6 border-r border-[#7963e0] max-[480px]:hidden">
                        <h6 class="2xl:text-[50px] lg:text-[40px] text-[35px] font-bold text-[#7963e0] 2xl:w-[60px] xl:w-[60px] lg:w-[50px] w-[40px] opacity-50">03</h6>
                    </div>
                    <div class="pl-6 border-l">
                        <div class="flex">
                            <img src="assets/img/service/icon-3.png" alt="service-3">
                        </div>
                        <h4 class="text-[20px] pt-6 font-bold">SEO Friendly</h4>
                        <p class="pt-2 text-[#777] text-[15px] leading-[28px]">There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="2xl:border-b 2xl:pt-24 lg:border-b lg:pt-12 pt-0 flex flex-wrap justify-between items-center mx-auto 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] px-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="300"></div>
    </section>





















	    <section id="about" class="mb-16" style="opacity: 1;">
			<div class="grid md:grid-cols-2 gap-8">
				<div clas="transform: none;">
					<div class="rounded-lg border-color-blue shadow bg-card text-card-foreground shadow-sm h-full">
					<div itemtype="https://schema.org/HowToStep" class="how-to-card rounded">
						<div class="flex flex-col space-y-1.5 p-6">
							<div class="text-2xl font-semibold leading-none tracking-tight flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info h-5 w-5 text-blue-500">
								<circle cx="12" cy="12" r="10"></circle><path d="M12 16v-4">
								</path><path d="M12 8h.01"></path>
								</svg>
								{t("how.works_h2")}
								
							</div>
						</div>
						<div class="p-6 pt-0">
							<p class="mb-4" set:html={t('how.works')} />
							<ol class="list-decimal list-inside space-y-2 text-muted-foreground">
								<li class="mb-4" set:html={t('how.step1')} />
								<li class="mb-4" set:html={t('how.step2')} />
								<li class="mb-4" set:html={t('how.step3')} />
								<li class="mb-4" set:html={t('how.step4')} />
								<li class="mb-4" set:html={t('how.step5')} />
							</ol>
						</div>
					</div>
					</div>
				</div>
				<div style="transform: none;">
					<div class="rounded-lg border-color-blue shadow bg-card text-card-foreground shadow-sm h-full">
						<div class="flex flex-col space-y-1.5 p-6">
							<div class="text-2xl font-semibold leading-none tracking-tight flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info h-5 w-5 text-blue-500">
								<circle cx="12" cy="12" r="10"></circle>
								<path d="M12 16v-4"></path>
								<path d="M12 8h.01"></path>
								</svg>
								{t("feature.h2")}
							</div>
						</div>
						<div class="p-6 pt-0">
							<ul class="space-y-3">
								<li class="flex items-start gap-2">
									<div class="w-12 h-12 rounded-lg flex items-center justify-center"> <img src="/images/unlimited.svg" alt="Unlimited Downloads" class="w-10 h-10 mb-4"> </div>
									<span>{t('infinity.download')}</span>
								</li>
								<li class="flex items-start gap-2">
									<div class="w-12 h-12 rounded-lg flex items-center justify-center"> <img src="/images/check-mark.svg" alt="No Watermark" class="w-10 h-10 mb-4"> </div>
									<span>{t('no.watermark')}</span>
								</li>
								<li class="flex items-start gap-2">
									<div class="w-12 h-12 rounded-lg flex items-center justify-center"><img src="/images/fast.svg" alt="Fast Tiktok Downloader" class="w-10 h-10 mb-4"> </div>
									<span>{t('faste.download')}</span>
								</li>
								<li class="flex items-start gap-2">
									<div class="w-12 h-12 rounded-lg flex items-center justify-center"><img src="/images/audio.svg" alt="Fast Tiktok Downloader" class="w-10 h-10 mb-4"> </div>
									<span>{t('audio.download')}</span>
								</li>
								<li class="flex items-start gap-2">
									<div class="w-12 h-12 rounded-lg flex items-center justify-center"><img src="/images/all.svg" alt="Fast Tiktok Downloader" class="w-10 h-10 mb-4"> </div>
									<span>{t('content.types')}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
    </div>
	</div>
</div>
</div>
<!--Sention 1 End -->

